%head
  %title My blog of greatness
  %link{:href => "/feed.xml", :rel => "alternate", :type => "application/atom+xml"}
  %link{:href => "/css/styles.css", :rel => "stylesheet", :type => "text/css"}

%body
  %h1 My blog of doom!
  %a{:href => "/"} Home
  %a{:href => "/about"} About Me
  %a{:href => "/feed.xml"} Atom Feed
  #container
    = yield